
<div align="center">
  <iframe width="1200" height="500" class="video" src="https://www.youtube.com/embed/H9S1i9BW5i8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>